html {
  background-color: white;
  /* animation: fadeIn 1s; */
  font-family: Courier;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
img {
  width:100%;
  height: 100%;
  object-fit: cover;
}
#active {
  font-weight: bold;
  font-size: 120%;
  color: black;
}
#grid {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
}
#menu {
  border-top: 1px solid black;
  border-right: 1px solid black;
  padding-right: 20px;
}
#article {
  border-top: 1px solid black;
  padding-left: 20px;
}

.pages {
  color: blackd;
}
a {
  color:black;
  text-decoration: none;
}
p {
  animation: fadeIn 1s;
}
.pages:hover {
  /* color: #EF640A; */
  font-weight: bold;
  font-size: 120%;
  transition: 0.5s;
}
a[href]:hover {
  color: blue;
}

.animation-image img {
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.animation-image:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
h1 {
  font-size: 500%;
  text-align: center;
  color: black;
  /* border-bottom: 1px solid black; */
  margin: 0;
  padding: 20px 20px 0 20px;
}
h3 {
  /* border: 5px solid red; */
  /* border-right: 1px solid black; */
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-left: 0;
  /* width: 150px; */
}
ol {
  /* border: 5px solid red; */
  /* border-right: 1px solid black; */
  padding-left: 50px;
  margin: 0;
  /* width: 110px; */
}
li {
  margin: 0;
}

@media(max-width:700px) {
  #grid {
    display: block;
    border-top: 1px solid black;
  }
  #menu {
    border: none;
    padding-right: 0;
    margin-bottom: 15px;
  }
  #article{
    border: none;
    border-top: 1px solid black;
    padding-left: 0;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    padding-left: 20px;
  }
}
